@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
:root {
    --wordle-green: #6aaa64;
    --wordle-yellow: #e5bf14;
    --bootstrap-green-bg: #6aaa64;
    --ute-red: #ea002a;
    --background-color: #efefef;
    --secondary-background-color: #dfdcdc;
    --text-color: black;
    --secondary-text-color: black;
    --toast-border-color: white;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
}

.utle-brand {
    color: var(--secondary-text-color);
    margin-left: 1rem;
    font-size: xx-large;
    
}

body{
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Readex Pro', sans-serif;
}

.main-container {
    margin-top: 50px;
}

.search-container {
    display: grid;
    grid-template-columns: minmax(300px, 50%);
    justify-content: center;
    align-content: center;
    margin-bottom: 5%;
}

.utle-header {
    color: var(--ute-red);
    font-weight: 900;
    text-align: center;
}

.guess-header {
    color: var(--ute-red);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}
  
.dropdown-box {
    max-height: 210px;
    overflow-y: auto;
    width: 100%;
    display: none;
}

.dropdown-content {
    color: black;
    display: block;
    width: 100%;
    padding-left: .375rem;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1;
    flex: 0 1 100%;
    text-align: center;
    font-weight: 600;
}

.search-bar {
    width: 100%;
    text-align: center;
}

.dropdown-content a {
    text-decoration: none;
    background-color: white;
    display: block;
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.info-header {
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(6,minmax(0,1fr));
    text-align: center;
    align-content: space-around;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: large;
    border-bottom: solid 2px var(--text-color);
}

.player-info-row {
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(6,minmax(0,1fr));
    text-align: center;
    align-content: space-around;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: 700;
    font-size: large;
    border-bottom: solid 2px var(--text-color);
}

.player-name {
   border-bottom: none;
   grid-template-columns: repeat(1,100%);
   text-align: left;
   padding-top: .5em;
   padding-bottom: .5em;
   background-color: var(--secondary-background-color);
}

.player-info-col {
    display: table;
    border-radius: 10px;
    width: 95%;
    height: 50px;
    line-height: 20px;
    vertical-align: middle;
}

.player {
    margin-left: 1em;
}

.show {display:block;}


.row-name {
    color: var(--secondary-text-color);
}

.arrow {
    font-family: var(--bs-font-sans-serif);
}

p {
    color: var(--secondary-text-color);
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}


.parent {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 90%;
    text-align: center;
    top: 27%;
    z-index: 2;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
    border: none;
}

.about-overlay {
    position: absolute;
    width: 100%;
    height: 90%;
    text-align: center;
    top: 0;
    z-index: 2;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
    border: none;
    margin-bottom: 1em;
}

.about-toast {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: none;
}


.game-over-toast {
    position: relative;
    width: 75%;
    height: 100%;
    margin-left: 12.5%;
    box-sizing: none;
}

.game-over-toast-header {
    font-weight: 700;
    text-align: center;  
    background-color: var(--ute-red);
    color: white;
    border: 3px solid var(--toast-border-color);
}

.game-over-toast-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    border: 3px solid var(--toast-border-color);
    border-top: none;
}

.toast-footer {
    background: var(--background-color);
    opacity: 100;
    font-weight: 700;
    border-top: 1px solid black;
    font-size: small;
    border: 3px solid var(--toast-border-color);
    border-top: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.reset-button {
   width: 35%;
   min-width: 300px;
   margin-bottom: 1rem;
   margin-top: 1rem;
   z-index: 3;
   background-color: var(--wordle-green);
   font-weight: 700;
}

.ll22 {
    width: 40px;
    height: 30px;
    padding: 4px;
}

.nav-tabs {
    color: white;
    font-weight: 500;
    margin-left: 1rem;
    font-size: larger;
    float: right;
    cursor: pointer;
}

.about-section {
    margin-bottom: .5rem;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 2px grey;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    width: 90%;
}

.about-section-text {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: medium;
    line-height: 23px;
    font-weight: 700;
}

.about-section-color {
    font-size: large;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    border-radius: 10px;
    margin-top: 3%;
}

.form-check-input {
    margin-top: 6px;
    cursor: pointer;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: var(--background-color);
    border-color: var(--background-color);
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}